* 
{
    padding: 0;
    margin: 0;
}

.header {
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(assets/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 0px;
    text-align: center;
    }

.login-btn {
    float: right;
    padding: 5px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: 5px;
    }

 .header h1 {
        color: #fff;
        padding-top: 360px;
        padding-bottom: 0;
        font-size: 55px;
    }

    .header p {
        margin: 18px 0;
        color: #fff;
        text-align: center;
    }

    .input-group {
        padding: 100px 0;
        border: 3px transparent green;
        text-align: center;
        max-width: 33%;
        align-content: center;

    }
    
    .form-control {
        border: 0 !important;
        border-radius: 60px !important;
        margin: 2px;
        box-shadow: none !important;

    }

    .input-group-append {
        width: 100px;
        background-image: linear-gradient(#00ff7e, #1f3d90);
        border: 0 !important;
        color: #fff !important;
        padding: 0 25px;
        border-radius: 30px;
        box-shadow: none !important;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
      }
/*features*/

    .features {
        padding: 100px 0; 
    }

    h1 {
        text-align: center;
        padding-bottom: 30px;
    }

    .feature-img img {
        width: 100%;
    }

    .price {
        width: 50px;
        height: 50px;
        background: #add8e6;
        color: #0F044C;
        font-weight: 600;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0 0 10px 1px rgba(173,216,230);
        position: absolute;
        left: 20px;
        bottom: -50px;
    }

    .feature-img {
        position: relative;
    }

    .rating {
        padding: 3px;
        float: right;
        background: #fff;
        bottom: -1px;
        right: 0;
    
    }

    i {
        font-size: 15px;
        color: #0074E1;
    }

    .feature-details {
        padding: 50px;
        text-align: justify;

    }

    .feature-details h4 {
        font-weight: 600;
        margin-top: 20px;

    }

   .fa {
        margin-right: 5px;
    }

    .feature-box {
        box-shadow: 0 0 10px 1px rgba(173,216,230);
        margin-bottom: 30px;
    }

    .gallery {
        padding: 100px 0;
        background: #efefef;
        
    }
    .gallery-box {
        position: relative;
        margin-bottom: 30px;
        display: block;
       
    }
    .gallery-box img {
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
        display: block;
        }

        .gallery-box img:hover {
            transform: scale(1.1);
        }

        .col-md-3 {
            display: flex;
            width: 90%;
            margin: 0 auto;
            flex-wrap: wrap;
        }




    /* Responsive layout - makes a one column layout instead of a two-column layout */
    @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
        }
    }